@import "tailwindcss";

html{
   scroll-behavior: smooth;
}
body {

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

.small-menu{
   display: flex;
    background: gainsboro;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* controlling the swipper button */

/* .swiper-button-next,
.swiper-button-prev {
  color: #2563eb; 
  font-weight: 500; */
  /* top: 45% !important; */
  /* transform: translateY(-50%);
} */

/* .swiper-button-prev {
  left: -8px !important; 
}

.swiper-button-next {
  right: -10px !important; 
} */
